[Desktop Entry]
Version=1.0
Name=Install Hawck
Comment=Install The Hawck keyboard macro system
Keywords=Keyboard;
Exec=/bin/bash -c 'cd $(dirname %k) && ./install.sh'
Terminal=true
Type=Application
Icon=document-save
StartupNotify=true
