[Desktop Entry]
Version=1.0
Name=Hawck
Comment=Keyboard macro system
GenericName=Keyboard macro system
Keywords=Keyboard;
Exec=hawck-ui
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=hawck
Categories=GNOME;GTK;Utilities;
StartupNotify=true
