[Unit]
Description=Hawck input daemon
#After=

[Service]
User=hawck-input
Group=hawck-input
WorkingDirectory=/var/lib/hawck-input
Type=forking
ExecStart=/bin/bash -c '/usr/local/bin/hawck-inputd $(/usr/share/hawck/bin/get-kbd-args.sh)'
ExecStop=/bin/bash -c 'kill $(pidof hawck-inputd)'
KillMode=mixed

[Install]
WantedBy=multi-user.target

